/* Banner Block */

.banner {
  background-image: url(/images/hero-images/joe-ciciarelli-kitchen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
}

.banner__tag {
  font-weight: 700;
  color: #333;
}

@media screen and (min-width: 768px) {
  .banner__header {
    text-align: left;
  }
}
