/* Banner Block */

.block--banner {
  padding-top: 0;
}

.banner {
  background-image: url(/images/hero-images/Kitchen.jpg);
  background-position: center center;
  background-attachment: initial;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
}
.banner__buttermilk {
  background-image: url(/images/hero-images/buttermilk-cake.jpg);
}

.banner__cake {
  background-image: url(/images/hero-images/cake-ingredients.jpg);
  background-attachment: fixed;
  height: 50vh;
}

.banner__tag {
  font-weight: 700;
  text-align: left;
  color: #333;
  padding: 1rem 3rem;
}

@media screen and (min-width: 768px) {
  .banner__header {
    text-align: left;
  }
}
