.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #666;
}

.footer__heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.footer__branding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__icon {
  position: relative;
  top: 8px;
}

.footer__site-name {
  color: #918ca4;
}

/* Social Icons */

.footer--social__icons li a {
  border-bottom: none;
}
.footer--social {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
