.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #666;
}

.footer__heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: 600;
}

.footer__branding {
  display: flex;
  flex-wrap: wrap;
}

.footer__icon {
  position: relative;
  top: 9px;
}

.footer__site-name {
  color: #918ca4;
}

.footer__copyright {
  font-size: 1.5rem;
  /* margin-left: 3rem; */
}

.footer__section a {
  color: #777;
  font-size: 1.6rem;
  transition: 0.3s;
}

.footer__section a:hover {
  color: #fff;
}

.footer__section a img:hover {
  transform: scale(1.1);
}

/* Social Icons */

.footer--social__icons li a {
  border-bottom: none;
}
.footer--social {
  width: 35px;
  height: 35px;
  margin-right: 20px;
}

@media screen and (min-width: 1024px) {
  .footer__section {
    border: 0;
  }
}

@media screen and (max-width: 350px) {
  .footer__site-name {
    font-size: 2.2rem;
    padding-top: 1, 5rem;
  }
  .footer__copyright {
    font-size: 1.2rem;
  }
}
