.ingredients {
  border: 1px solid #666;
  padding-bottom: 3rem;
}

.list__ingredient {
  margin: 0 4rem;
}

.ingredient__content {
  margin: 0 1rem;
  text-align: left;
}

@media screen and (min-width: 1020px) {
  .list__ingredient {
    margin: 0 22rem;
  }

  .ingredient__content {
    margin: 0 15rem;
  }
}
