.ingredient {
  padding-bottom: 3rem;
  margin-bottom: 2rem;
  border-radius: 7px;
  box-shadow: 0 0 5px 10px #f3f3f3;
  overflow: hidden;
}

.ingredient__list {
  margin: 0 4rem;
}

.ingredient__content {
  margin: 0 1rem;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .ingredient__list,
  .ingredient__content {
    margin: 0 15rem;
  }
}
