.ingredients {
  border: 1px solid #666;
  padding-bottom: 3rem;
}

.ingredient__list {
  margin: 0 4rem;
}

.ingredient__content {
  margin: 0 1rem;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .ingredient__list,
  .ingredient__content {
    margin: 0 15rem;
  }
}
