.instruction {
  border-radius: 7px;
  box-shadow: 0 0 5px 10px #f3f3f3;
  overflow: hidden;
}

.instructions__content {
  text-align: left;
  line-height: 1.5;
}

.instruction-card__icon {
  width: 32px;
  height: 32px;
  padding-bottom: 0.5rem;
}

.instruction__note {
  font-weight: 900;
  text-decoration: underline;
}
