.instructions__content {
  text-align: left;
  line-height: 1.5;
}

.instruction-card__icon {
  width: 32px;
  height: 32px;
  padding-bottom: 0.5rem;
}

.instruction__note {
  font-weight: 900;
  text-decoration: underline;
}
