.list {
  list-style: none;
  color: var(--color-heading);
  padding-left: 0;
  text-align: left;
}

.list__item a {
  color: #666;
  font-weight: 500;
  transition: 0.3s;
}

.list__item a:hover {
  color: #e29b1a;
  font-weight: 600;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Ingredient Lists */

.list__ingredient-item {
  list-style: inside;
}
