.menu__image {
  max-width: 100%;
  height: auto;
}

.menu__header {
  display: block;
  text-align: left;
  margin-top: 0;
  text-transform: uppercase;
}

.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu__content-date {
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.menu__content-header {
  text-decoration: underline;
}

.menu__content-btn {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 0.2rem;
}

.menu__content-link {
  color: #e29b1a;
  transition: 0.3s;
}

.menu__content-link:hover {
  color: #333;
}
