.nav {
  background: #ffa;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blog__name {
  display: flex;
}

.nav__heading {
  margin: 0 20px 0 10px;
}

.logo {
  position: relative;
  top: 10px;
}

@media screen and (min-width: 1024px) {
  .logo {
    top: 20px;
  }
}
