@import "/css/card.css";
@import "/css/list.css";
@import "/css/nav.css";
@import "/css/grid.css";
@import "/css/button.css";
@import "/css/block.css";
@import "/css/hero.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typrography */

html {
  font-family: "Open Sans", Calibri, "Trebuchet MS", sans-serif;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Calibri, "Trebuchet MS", sans-serif;
  background: #fff;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #918ca4;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-color {
  background: #1962e6;
}

.secondary-color {
  background: #19c9e6;
}

.accent-color {
  background: #e29b1a;
}

h1,
h2,
h3 {
  color: #b7b0d1;
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
