:root {
  --color-primary: #1962e6;
  --color-secondary: #19c9e6;
  --color-accent: #e29b1a;
  --color-background: #fff;
  --width-text: 50ch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 62.5%;
}

body {
  background: var(--color-background);
  font-size: 2.4rem;
}

.primary-test {
  background: var(--color-primary);
  width: var(--width-text);
}

.secondary-test {
  background: var(--color-secondary);
  width: 70ch;
}

.accent-test {
  background-color: var(--color-accent);
}
