<section class="block">
  <header class="block__header">
    <h2>About Keith</h2>
    <blockquote class="about__quote">
      <p>"Learn something new everyday"</p>
    </blockquote>
  </header>
  <div class="container">
    <div class="card about">
      <section class="grid grid--col-2">
        <div class="card__image">
          <img src="/images/card-images/Keith.jpg" alt="" />
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
          corporis adipisci iure nam ut eligendi autem error. Illum eligendi
          explicabo non odit cum, exercitationem corrupti illo eaque blanditiis
          quisquam ea.
        </p>
      </section>
    </div>
  </div>
</section>
