<body>
  <div class="block">
    <header class="block__header">
      <h2 class="block__heading">Six of the Best</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, labore!
      </p>
      <section class="container">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
          nostrum cupiditate debitis eligendi quam sapiente ex dolores,
          provident sequi veniam labore sit tenetur qui, aut minus possimus nam
          ab adipisci.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam a illo
          ab sapiente error assumenda.
        </p>
      </section>
    </header>
  </div>
</body>
