<div style="width: 30%; border: 1px solid #f3f3f3">
  <div class="card">
    <header class="card__header secondary-color">Card Title</header>
    <div class="card__body">
      <div class="card__image">
        <img
          src="/images/card-images/diiner.jpg"
          alt="Rustic Meal with Wine "
        />
      </div>
      <p class="card__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
        perferendis ab mollitia asperiores sequi aperiam facere nesciunt
        accusamus vero magni!
      </p>
    </div>
  </div>
</div>
