<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Keith's Kitchen</title>
  </head>
  <body>
    <p class="primary-test">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus,
      fuga reprehenderit? Quibusdam cum numquam adipisci est soluta voluptate
      minus fuga!
    </p>
    <p class="secondary-test">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, ut.
      Expedita itaque, soluta ea,
      <span class="accent-test">similique ipsum alias aperiam quo</span> dolor,
      cupiditate reiciendis nobis quam dolore totam eos? Ut, voluptates
      possimus.
    </p>
  </body>
</html>
