<body>
  <section class="container">
    <h3>Sign up for our Newslatter</h3>
    <div class="form">
      <label for="firstname">First name</label>
      <input type="text" name="" id="firstname" />
      <label for="lastname">Surname</label>
      <input type="text" name="" id="lastname" />
      <label for="email">email address</label>
      <input type="email" name="" id="email" />
    </div>
    <div class="input-group">
      <button class="btn btn--accent">SEARCH</button>
      <input type="text" class="input" />
    </div>
  </section>
  <!-- added the html below into the recipe block site -->
  <section class="block container container-call-out">
    <div class="signup-group">
      <header class="block__header">
        <h3>Sign up for our Newslatter</h3>
      </header>
      <div class="input-group">
        <input type="email" class="input" />
        <button class="btn primary-color">Sign up</button>
      </div>
    </div>
  </section>
</body>
