<div class="block container">
  <div class="grid grid--col-9">
    <div class="span--col-8">
      <h3>Six of the best</h3>
    </div>
    <article class="grid grid--col-3 menu--start-2">
      <div class="span--col-1">
        <img class="menu__image" src="/images/card-images/diiner.jpg" alt="" />
      </div>
      <div class="span--col-2">
        <span>March 26th 2021</span>
        <h3>Yorkshire Pudding</h3>
        <p>Im English this has to be on the Menu</p>
        <p class="btn">Get Cooking</p>
      </div>
    </article>
  </div>
</div>
