<body>
  <div class="block container">
    <div class="grid grid--col-9">
      <div class="span--col-3">
        <h3 class="menu__header">Six of the best</h3>
      </div>
      <article class="grid grid--col-3 menu--start-2">
        <div class="span--col-1">
          <img
            class="menu__image"
            src="/images/card-images/diiner.jpg"
            alt=""
          />
        </div>
        <div class="span--col-2 menu__content">
          <span class="menu__content-date">March 26th 2021</span>
          <h3 class>Yorkshire Pudding</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
            excepturi, possimus beatae consectetur aut quae neque facilis nemo
            similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
            tempore adipisci officia, id nesciunt ratione tempora! Ipsam nostrum
            debitis cum vel?
          </p>
          <p class="menu__content-btn">
            <a class="menu__content-link" href="#">Get the recipe</a>
          </p>
        </div>
      </article>
    </div>
  </div>
</body>
