<nav class="nav">
  <div class="blog__name">
    <div class="logo">
      <img
        class="logo__image"
        src="/images/icons/pot.png"
        alt="Cooking Pot Drawing"
      />
    </div>
    <h1 class="nav__heading">Keith's Kitchen</h1>
  </div>
  <ul class="list list--inline">
    <li class="list__item">
      <a href="/Components/Blocks/about.html">About</a>
    </li>
    <li class="list__item">
      <a href="/Components/Blocks/index.html#contact">Contact</a>
    </li>
    <li class="list__item"><a href="/Components/Blocks/index.html">Home</a></li>
  </ul>
</nav>
