<body>
  <div class="block container">
    <section class="grid grid--col-3">
      <div>
        <div class="card">
          <header class="card__header secondary-color">Chef</header>
          <div class="card__body">
            <div class="card__image">
              <img
                src="/images/card-images/diiner.jpg"
                alt="Rustic Meal with Wine "
              />
            </div>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              perferendis ab mollitia asperiores sequi aperiam facere nesciunt
              accusamus vero magni!
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <header class="card__header secondary-color">Sou Chef</header>
          <div class="card__body">
            <div class="card__image">
              <img
                src="/images/card-images/diiner.jpg"
                alt="Rustic Meal with Wine "
              />
            </div>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              perferendis ab mollitia asperiores sequi aperiam facere nesciunt
              accusamus vero magni!
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card">
          <header class="card__header secondary-color">Patasy Chef</header>
          <div class="card__body">
            <div class="card__image">
              <img
                src="/images/card-images/diiner.jpg"
                alt="Rustic Meal with Wine "
              />
            </div>
            <p class="card__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              perferendis ab mollitia asperiores sequi aperiam facere nesciunt
              accusamus vero magni!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
