<footer class="block secondary-color">
  <div class="container grid">
    <section class="footer__section">
      <h4 class="footer__heading">Item 1</h4>
      <ul class="list">
        <li class="list__item">List 1</li>
        <li class="list__item">List 2</li>
        <li class="list__item">List 3</li>
      </ul>
    </section>
    <section class="footer__section">
      <h4 class="footer__heading">Item 2</h4>
      <ul class="list">
        <li class="list__item">List 1</li>
        <li class="list__item">List 2</li>
        <li class="list__item">List 3</li>
      </ul>
    </section>
    <section class="footer__section">
      <h4 class="footer__heading">Acknowledgements</h4>
      <ul class="list">
        <li class="list__item">
          Photos taken by <a href="" title="Linda">Linda</a> from
          <a href="https://www.boutiquephotographer.com/" title="boutique"
            >www.boutiquephotographer.com</a
          >
        </li>
        <li class="list__item">
          Icons made by <a href="" title="surang">surang</a> from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </li>
      </ul>
    </section>
    <p></p>
  </div>
</footer>
