<body>
  <section class="block">
    <header class="block__header">
      <h3 class="block__heading">Instructions</h3>
    </header>
    <section class="container card grid grid--col-3">
      <div class="card__image span--col-1">
        <img src="/images/card-images/dry-goods.jpg" alt="" />
      </div>
      <div class="card span--col-2">
        <img
          class="card__image"
          src="/images/svg/008-twitter.svg"
          alt=""
          style="width: 64px; height: 64px"
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ea
          blanditiis dolorem quidem! Aliquam ex obcaecati quas fugit! Minus quod
          distinctio harum deleniti iste. Commodi illo sit ratione illum
          molestias officiis? Aliquam provident delectus voluptas laudantium
          veritatis! Optio dolores quam, incidunt eum reiciendis recusandae?
          Voluptatem repudiandae itaque eos in aut ducimus iusto, explicabo,
          eius praesentium libero quas at commodi blanditiis.
        </p>
      </div>
    </section>
  </section>
</body>
