<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Main Keith's Kitchen</title>
  </head>
  <body>
    <nav class="block container nav">
      <div class="blog__name">
        <div class="logo">
          <img
            class="logo__image"
            src="/images/icons/pot.png"
            alt="Cooking Pot Drawing"
          />
        </div>
        <h1 class="nav__heading">Keith's Kitchen</h1>
      </div>
      <ul class="list list--inline">
        <li class="list__item">About</li>
        <li class="list__item">Contact</li>
        <li class="list__item">ALAW</li>
      </ul>
    </nav>
    <section class="block block--banner">
      <div class="container banner">
        <header class="banner__header">
          <p class="banner__tag">
            A blog about the only place to eat right now
          </p>
        </header>
      </div>
    </section>
    <div class="block container block--crew">
      <h2>The Crew</h2>
      <section class="grid grid--col-3">
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Chef <br />
              Keith
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                Cooking is a way to relax for me. I like cooking new dishes but
                have a few favorites including Indian curry, lasagna and English
                Breakfast.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Sous Chef <br />Linda
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                Chief Chooper and maker of the family comfort foods. Heads up
                the cleaning crew as the chef and pastry chef don't have a clue.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Pastry Chef <br />Ava
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                The Sugar Monster - Ava has a sweet tooth and naturally likes to
                bake. Bread and cakes are now her very tasty speciallities.
                Thanks Chef!
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
