<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Main Keith's Kitchen</title>
  </head>
  <body>
    <header>
      <nav class="block container nav">
        <div class="blog__name">
          <div class="logo">
            <img
              class="logo__image"
              src="/images/icons/pot.png"
              alt="Cooking Pot Drawing"
            />
          </div>
          <h1 class="nav__heading">Keith's Kitchen</h1>
        </div>
        <ul class="list list--inline">
          <li class="list__item"><a href="#">About</a></li>
          <li class="list__item"><a href="#">Contact</a></li>
          <li class="list__item">
            <a href="/Components/Blocks/main.html">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="block block--banner">
      <div class="container banner">
        <header class="banner__header">
          <p class="banner__tag">
            A blog about the only place to eat right now
          </p>
        </header>
      </div>
    </section>
    <div class="block container block--crew">
      <h2>The Crew</h2>
      <section class="grid grid--col-3">
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Chef <br />
              Keith
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                Cooking is a way to relax for me. I like cooking new dishes but
                have a few favorites including Indian curry, lasagna and English
                Breakfast.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Sous Chef <br />Linda
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                Chief Chooper and maker of the family comfort foods. Heads up
                the cleaning crew as the chef and pastry chef don't have a clue.
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <header class="card__header secondary-color">
              The Pastry Chef <br />Ava
            </header>
            <div class="card__body">
              <div class="card__image">
                <img
                  src="/images/card-images/diiner.jpg"
                  alt="Rustic Meal with Wine "
                />
              </div>
              <p class="card__text">
                The Sugar Monster - Ava has a sweet tooth and naturally likes to
                bake. Bread and cakes are now her very tasty speciallities.
                Thanks Chef!
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <div class="span--col-3">
          <h3 class="menu__header">Six of the best</h3>
        </div>
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">
              Vanila ButterCream Birthday Cake
            </h3>
            <p>
              It's my birthday so Ava is making me a Vanila spong cake with
              vanila buttercream frosting filled with strewberry jam. The
              buttercream is sweet so be warned this is can be a little too
              much. The cake is very light and moist.
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/buttermilk-cake.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">Yorkshire Pudding</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
              excepturi, possimus beatae consectetur aut quae neque facilis nemo
              similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
              tempore adipisci officia, id nesciunt ratione tempora! Ipsam
              nostrum debitis cum vel?
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/yorkshire-pudding.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">Mummy Mac & Cheese</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
              excepturi, possimus beatae consectetur aut quae neque facilis nemo
              similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
              tempore adipisci officia, id nesciunt ratione tempora! Ipsam
              nostrum debitis cum vel?
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/mac-and-chesse.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">Potato Masala</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
              excepturi, possimus beatae consectetur aut quae neque facilis nemo
              similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
              tempore adipisci officia, id nesciunt ratione tempora! Ipsam
              nostrum debitis cum vel?
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/potato-masala.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">Beans and Greens</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
              excepturi, possimus beatae consectetur aut quae neque facilis nemo
              similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
              tempore adipisci officia, id nesciunt ratione tempora! Ipsam
              nostrum debitis cum vel?
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/beans-and-greens.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <div class="block container">
      <div class="grid grid--col-9">
        <article class="grid grid--col-3 menu--start-2">
          <div class="span--col-1">
            <img
              class="menu__image"
              src="/images/card-images/diiner.jpg"
              alt=""
            />
          </div>
          <div class="span--col-2 menu__content">
            <span class="menu__content-date">March 26th 2021</span>
            <h3 class="menu__content-header">Pork Chop in Garlic Butter</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est
              excepturi, possimus beatae consectetur aut quae neque facilis nemo
              similique accusamus, deserunt omnis quasi fuga ab quas reiciendis
              tempore adipisci officia, id nesciunt ratione tempora! Ipsam
              nostrum debitis cum vel?
            </p>
            <p class="menu__content-btn">
              <a
                class="menu__content-link"
                href="/Recipe-Pages/porkchop-in-garlic.html"
                >Get the recipe</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>
    <section class="block container container-call-out">
      <div class="signup-group">
        <header class="block__header">
          <h3>Sign up for our Newsletter</h3>
        </header>
        <div class="input-group">
          <input type="email" class="input" />
          <button class="btn primary-color">Sign up</button>
        </div>
      </div>
    </section>
    <footer class="block secondary-color">
      <div class="container grid grid--col-3">
        <section class="footer__section">
          <h4 class="footer__heading">Recipes</h4>
          <ul class="list">
            <li class="list__item">
              <a href="/Recipe-Pages/buttermilk-cake.html">Birthday Cake</a>
            </li>
            <li class="list__item">
              <a href="/Recipe-Pages/yorkshire-pudding.html"
                >Yorkshire Pudding</a
              >
            </li>
            <li class="list__item">
              <a href="/Recipe-Pages/mac-and-chesse.html">Mummy Mac & Cheese</a>
            </li>
            <li class="list__item">
              <a href="/Recipe-Pages/potato-masala.html">Potato Masala</a>
            </li>
            <li class="list__item">
              <a href="/Recipe-Pages/beans-and-greens.html">Beans and Greens</a>
            </li>
            <li class="list__item">
              <a href="/Recipe-Pages/porkchop-in-garlic.html"
                >Pork Chop and Garlic</a
              >
            </li>
          </ul>
        </section>
        <section class="footer__section">
          <h4 class="footer__heading">Social Media</h4>
          <ul class="list footer--social__icons">
            <li class="list__item">
              <a href="http://www.facebook.com"
                ><img class="footer--social" src="/images/svg/036-facebook.svg"
              /></a>
            </li>
            <li class="list__item">
              <a href="http://www.twitter.com"
                ><img class="footer--social" src="/images/svg/008-twitter.svg"
              /></a>
            </li>
            <li class="list__item">
              <a href="http://www.youtube.com"
                ><img class="footer--social" src="/images/svg/001-youtube.svg"
              /></a>
            </li>
            <li class="list__item">
              <a href="http://www.linkedin.com"
                ><img class="footer--social" src="/images/svg/027-linkedin.svg"
              /></a>
            </li>
          </ul>
        </section>
        <section class="footer__section">
          <h4 class="footer__heading">Acknowledgements</h4>
          <ul class="list">
            <li class="list__item">
              Photos taken by <a href="" title="Linda">Linda</a> from
              <a href="https://www.boutiquephotographer.com/" title="boutique"
                >www.boutiquephotographer.com</a
              >
            </li>
            <li class="list__item">
              Icons made by <a href="" title="surang">surang</a> from
              <a href="https://www.flaticon.com/" title="Flaticon"
                >www.flaticon.com</a
              >
            </li>
            <li class="list__item">
              Icons made by
              <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
              <a href="https://www.flaticon.com/" title="Flaticon"
                >www.flaticon.com</a
              >
            </li>
          </ul>
        </section>
        <section class="footer__branding">
          <div class="container-small">
            <img
              class="footer__icon"
              src="/images/icons/pot.png"
              alt="icon of a cooking pot"
            />
          </div>
          <div>
            <h3 class="footer__site-name">Keith's Kitchen</h3>
            <p class="footer__copyright">
              &copy Copyright Keith Smallpage 2021
            </p>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
